.ticket {
  position: relative;
  height: 126px;
}

.ticket-background {
  position: absolute;
  inset: 8px;
  background: #F6DB74;
  border-radius: 8px;
  display: flex;
flex-direction: row;
  overflow: visible;
}

.ticket-circles .circle {
  position: absolute;
  width: 19px;
  height: 19px;
  background: var(--tg-theme-secondary-bg-color, white);
  border-radius: 50%;
  left: 69px;
  transform: translateX(-50%);
}

.ticket-circles .circle.top {
  top: -9.5px;
}

.ticket-circles .circle.bottom {
  bottom: -9.5px;
}

.ticket-content {
  width: calc(100% - 69px);
  margin-left: 69px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 17px;
  justify-content: space-between;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numbers-combination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
  gap: 4px;
}

.number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 20px;
  background: #151511;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #FAF6EC;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.tickets-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 393px;
  margin: 0 auto;
}

.ticket-label {
  position: absolute;
  left: 26px;
  top: 50%;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: 0 0;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.ticket-id {
  margin: 0 auto;
  width: 119px;
  height: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #151511;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.ticket-amount {
  /* margin: 0 auto; */
  /* width: 154px; */
  height: 26px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #151511;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Оскільки leading-trim і text-edge ще не підтримуються широко, 
   можна використати альтернативній спосіб вирівнювання */
.ticket-amount {
  display: flex;
  align-items: center;
  justify-content: center;
}
 .ticket-numbers{
    display: flex;
    justify-content: space-between;
 }

.ticket-status {
  /* margin: 0 auto; */
  width: 120px;
  height: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #000000; /* Чорний текст */
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: right; /* Вирівнювання тексту вправо */
}

.ticket-divider {
    width: 2px;
    left: 69px;
    top: 15%;
    background: #ffffff;
    height: 70%;
    position: absolute;
}
