.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  height: 84vh;
  flex: none;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
  
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.main::-webkit-scrollbar {
  display: none;
}

